.baloo {
  /* font-family: "Baloo 2", serif; */
  font-family: "Rubik Vinyl", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  /* color: rgb(236, 0, 0); */
  font-size: xx-large;
  font-style: normal;
}