.baloo {
  /* font-family: "Baloo 2", serif; */
  /* font-family: "Rubik Vinyl", serif; */
  /* font-optical-sizing: auto; */
  font-weight: bolder;
  /* color: rgb(236, 0, 0); */
  font-size: xx-large;
  font-style: norma;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
